

$Primary: #2893e1;
$Secondary: #777777;
$Background: #f7f8f9;
$Red: #FF4933;
$Red-dark: #C50D0D;

$Primary-light: #6dc3ff;
$Primary-dark: #0066af;
$Secondary-light: #a6a6a6;
$Secondary-dark: #4b4b4b;

$Blue1: #bfe9f7;
$White: #fff;